:root {
	font-size: 100%;
	font-size: 16px;
	line-height: 1.5;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Mandali', sans-serif;
	font-weight: 500;
	background-color: #a5b581;
	color: #eaecf3;
}

h1 {
	font-family: 'Shrikhand', sans-serif;
	font-size: 4rem;
	font-weight: 400;
	color: #6d5953;
}


h3 {
	font-size: 1.5rem;
	color: #eaecf3;
	padding: 0 2em;
	text-align: justify;
}

a {
	text-decoration: none;
	color: #5b673e;
}

a:hover {
	text-decoration: underline;
}


main {
	display: flex;
	flex-direction: column;
}



.image-container {
	background-image: url('happydogs.jpg');
	background-size: cover;
	background-position: center center;
	flex: 1.75
}

.logo-credit {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2.5em auto 0 auto;
}

.image-container p {
	font-size: .8em;
	color: #a5a5a5;
	text-align: center;
}



.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1.25;
}

.form-container .copy {
	color: black;
	text-align: center;
	flex: 1;
}


.form-container p {
	/* margin: 1.5em 0; */
	font-size: 0.875rem;
}


.form-grid {
	display: flex;
	gap: 1.5em;
}

form {
	flex: 2;
	margin: 0 1.5em;
}

.column {
	width: 220px;
}


form input[type="text"], 
form input[type="number"], 
form input[type="email"], 
form input[type="password"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 8px;
	border: 0px solid #5c3c3c;
	padding: 1em;
	margin-bottom: 1.25rem;
	font-size: 0.875rem;
	background-color: #cbdbaa;
	color: #6d5953;
	font-family: 'Mandali', sans-serif;
	
}

label {
	display: block;
	margin-bottom: 1 rem;
	font-size: 0.85rem;
	color: #5b673e;
}

.input-password {
	position: relative;
}

.input-password i {
	position: absolute;
	top: 39px;
	right: 16px;
	color: #6d5953;
}


#phone_number {
  -moz-appearance: textfield;
}
#phone_number::-webkit-inner-spin-button {
  display: none;
}
#phone_number::-webkit-outer-spin-button,
#phone_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
	display: block;
	width: 40%;
	background-color: transparent;
	color: #6d5953;
	font-family: 'Shrikhand', sans-serif;
	border: 2px solid #6d5953;
	padding: 1rem;
	border-radius: 90px;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin: 1em auto;
}


button:hover {
	background: #cbdbaa;
	cursor: pointer;
}

@media screen and (min-width: 900px) {
	main {
		flex-direction: row;
		height: 100vh;
	}

	.image-container, 
	.form-container {
		display: flex;
		width: 50%;
		height: auto;
	}

}

@media screen and (max-width: 899px) {
	h1 {
		align-items: center;
		margin: 1.2em auto;
		font-size: 2.5rem;
		/* color: #eaecf3; */
		color: rgba(109,89,83, 0.9);
	}

	.image-container {

		height: 30vh;
		background-position: 100% 48%;
	
	}

	.image-container p {
		display: none;
	}

	.form-grid {
		flex-direction: column;
		justify-content: center;
		gap: 0;
	}

	.column {
		width: 370px;
	}
}