:root {
	font-size: 100%;
	font-size: 16px;
	line-height: 1.5;
}

*:focus {
	outline: none;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	background: linear-gradient(45deg, #c7d7a4, #a5b581);
	color: #eaecf3;
}

h1 {
	font-family: 'Shrikhand', sans-serif;
	font-size: 4rem;
	font-weight: 400;
	color: #6d5953;
}


h3 {
	font-size: 1.5rem;
	color: #eaecf3;
	padding: 0 2em;
	text-align: justify;
}

a {
	text-decoration: none;
	color: #5b673e;
}

a:hover {
	text-decoration: underline;
}


main {
	display: flex;
	flex-direction: column;
}



.image-container {
	background-image: url('happydogs.jpg');
	background-size: cover;
	background-position: center center;
	flex: 1.75
}

.logo-credit {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2.5em auto 0 auto;
}

.image-container p {
	font-size: .8em;
	color: #a5a5a5;
	text-align: center;
}



.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1.25;
}

.form-container .copy {
	color: black;
	text-align: center;
	margin: 1.5em;
	min-width: 500px;
}


.form-container p {
	margin: 1.5em;
	font-size: 0.875rem;
}


.form-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	width: 500px;
}

.input-control {
	height: 100px;
}

.input-control input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 8px;
	border: none;
	transition: 0.5s;
	padding: 1em;
	margin-bottom: 1.25rem;
	font-size: 0.875rem;
	background-color: #cbdbaa;
	color: #6d5953;
	font-family: 'Mandali', sans-serif;
}

.input-control input:focus {
	background: #dce0d3;
}

.input-control.success input {
	border: 1px solid #93a46b;
}

.input-control.error input {
	border: 1px solid #a46b6b;
}

.input-control .error {
	color: #a46b6b;
	font-size: 9px;
	position: relative;
	top: -15px;
}

label {
	display: block;
	margin-bottom: 6px;
	font-size: 0.85rem;
	color: #5b673e;
}


#number {
  -moz-appearance: textfield;
}
#number::-webkit-inner-spin-button {
  display: none;
}
#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
	display: block;
	width: 40%;
	background-color: transparent;
	color: #6d5953;
	font-family: 'Shrikhand', sans-serif;
	border: 2px solid #6d5953;
	padding: 1rem;
	border-radius: 90px;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin: 1em auto;
	transition: 0.5s;
}



.button:hover {
	background:#d0dabc;
	cursor: pointer;
}

@media screen and (min-width: 900px) {
	main {
		flex-direction: row;
		height: 100vh;
	}

	.image-container, 
	.form-container {
		display: flex;
		width: 50%;
		height: auto;
	}

}

@media screen and (max-width: 899px) {
	h1 {
		align-items: center;
		margin: 1.2em auto;
		font-size: 2.5rem;
		/* color: #eaecf3; */
		color: rgba(109,89,83, 0.9);
	}

	.image-container {

		height: 30vh;
		background-position: 100% 48%;
	
	}

	.image-container p {
		display: none;
	}

	.form-grid {
		grid-template-columns: 1fr;
		width: 370px;
	}

	.form-container p {
		margin: 1.5em;
		font-size: 0.65rem;
	}
}


